@import '../../styles/mixins';

.home {
	nav {
		@include d-flex(row, space-between, center);
		padding: 2rem 1rem;
		.search {
			@include input-border;
			width: 600px;
			max-width: 100%;
			padding: 0.5rem 1rem;
			font-size: 16px;

		}
	}
	.content {
		padding: 2rem 1rem;

	}
}
